<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Public/css/layout.css">
    <title>Layout</title>
</head>
<body>
    <header id="header_main">
        <img src="../Public/img/LogoD20.png" alt="Logotipo de D20" id="Logo_D20">
        <h1 id="Nome_Site">RPGs All</h1>
    </header>
    <nav id="Nav-bar">
        <a href="">RPGs</a>
        <a href="">Documentação</a>
        <a href="">Personagens</a>
        <a href="">Itens</a>
        <a href="">Poderes</a>
    </nav>
    <main id="content_main">
        <h1>Main</h1>
    </main>
    <footer id="footer_main">
        <h1>Footer</h1>
    </footer>
    <script src="../js/layout.js"></script>
</body>
</html>